.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}
.pokeMenu{
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(27, 26, 27, 0.19);
}
.pokeMenu img{
  height: 50px;
}
.pokeMenu input{
  height: 30px;
  width: 300px;
  margin-right: 50px;
}
.pokeMenu input::placeholder{
  color: black;
  font-weight: 700;
  
}