.pokeCard{
    width: 320px;
    height: 320px;
    border: 2px solid rgba(27, 26, 27, 0.19);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokeCard img {
    width: 240px;
    height: 200px;
}
.cardText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardText h2{
    margin: 0;}